* {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.titulo {
    margin: 40px;
    text-align: center;
    font-size: 2.5vw;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.item {
    position: relative;
    margin: 15px 0;
    background-color: rgb(204, 204, 204);
    width: fit-content;
    max-width: 600px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.5s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.item:hover {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
}